.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  
  background: linear-gradient(109.6deg, rgb(12, 15, 18) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 3.25rem;
    border: 1px solid white;
    border-width: 2.5px;
    border-radius: 15px;
    margin: 0.5rem;
  }

}



h1 {
  
  /* background: rgb(131, 58, 180); */
 color: white;
 

  
  letter-spacing: 5px;
  /* height: 10px; */
}

h2 {
  color: white;
}

h3 {
  color: #121ce0;
  background-image: -webkit-linear-gradient(0deg, #262fe7 28%,#ffffff 66%,#ffffff 83%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  margin-top: 0px;
  font-size: 12px;
}

label {
  text-align: left;
  font-weight: 500;
  color: white;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem  0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  margin-top: 20px;
  padding: 20px;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  width: 300px;
  
  
}

.link-button {
  background: none;
  color: white;
  text-decoration: underline;
}
